<section>
    <div class="row">
      <div class="col content g-3">
        <div class="col-12 text-center"></div>
        <h5 class="">add role</h5>
        <hr />
        <form
          [formGroup]="addRoleForm"
          class="row gy-3"
          (ngSubmit)="submitHandler(addRoleForm)"
        >

          <div class="col-12">
            <label for="exampleInputEmail1" class="form-label" name="type"
              > role type</label
            >
            <select class="form-select" aria-label="Default select example" formControlName="type" name="type"
            [class.is-valid]="addRoleForm.controls?.['type']?.valid"
            [class.is-invalid]="(addRoleForm.controls?.['type']?.invalid&&(addRoleForm.controls?.['type']?.touched||isSubmit))"
            >
            <option value="admin">admin</option>
            <option value="employee">employee</option>
            <option value="customer">customer</option>
            </select>
            <div
            class="invalid-feedback"
              *ngIf="addRoleForm.controls?.['type']?.errors&& (addRoleForm.controls?.['type']?.touched ||isSubmit) "
            >
              <div
                *ngIf="addRoleForm.controls?.['type']?.errors?.['required']"
              >
                role type is required
              </div>
            </div>
          </div>
          <div class="col-12">
            <label for="exampleInputEmail1" class="form-label"
              >Name</label
            >
            <input
            type="text"
            class="form-control"
            name="name"
            formControlName="name"
            [class.is-valid]="addRoleForm.controls?.['name']?.valid"
            [class.is-invalid]="(addRoleForm.controls?.['name']?.invalid&&(addRoleForm.controls?.['name']?.touched||isSubmit))"
          />
          <div
          class="invalid-feedback"
            *ngIf="addRoleForm.controls?.['name']?.errors&& (addRoleForm.controls?.['name']?.touched ||isSubmit) "
          >
            <div
              *ngIf="addRoleForm.controls?.['name']?.errors?.['required']"
            >
              role Name is required
            </div>
          </div>

          </div>



  
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-primary"
              [class.btn-type-primary]="!loading"
              [class.d-flex]="loading"
              [class.text-bg-dark]="loading"
            >
              <ng-container *ngIf="loading">
                <div class="col-12">
                  <app-loading-spinner></app-loading-spinner>
                </div>
              </ng-container>
              <ng-container *ngIf="!loading">add</ng-container>
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
  