
  <ng-container *ngIf="loading">
    <div class="col-12">
        <app-loading-spinner></app-loading-spinner>
    </div>
</ng-container>
<ng-container *ngIf="!loading">
  <section>
    <a class="btn btn-primary" routerLink="projects/add">add New Project</a>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" *ngFor="let head of heads">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects">
            <th>{{ project._id }}</th>
            <td scope="col" class="col-1">
              <ng-container *ngIf="project.projectImages[0]">
                <img
                class="img-fluid rounded "
                src="http://localhost:8000/api/v1/public/uploads/projects/{{project.projectImages[0]}}"
              />
              </ng-container>
         
            </td>
            <td>{{ project.name }}</td>         
            <td>{{ project.type }}</td>
            <td >
              <div class="btn-group" role="group" aria-label="Basic example">
                <a
                  class="btn btn-primary btn-info text-light"
                  routerLink="/projects/{{ project._id }}"
                  >show</a
                >
                <a
                  routerLink="projects/{{ project._id }}/edit"
                  class="btn btn-primary btn-secondary"
                  >edit</a
                >
                <a
                  class="btn btn-primary btn-danger"
                  (click)="deleteProjectHandler(project._id)"
                  >delete</a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</ng-container>


