<section>
  <form
    [formGroup]="buyUnitForm"
    class="row gy-3"
    (ngSubmit)="submitHandler(buyUnitForm)"
  >
    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label" name="username"
        >unit Id</label
      >
      <input
        type="text"
        class="form-control"
        name="name"
        formControlName="unitId"
        [class.is-valid]="buyUnitForm.controls?.['unitId']?.valid"
        [class.is-invalid]="(buyUnitForm.controls?.['unitId']?.invalid&&(buyUnitForm.controls?.['unitId']?.touched||isSubmit))"
      />
      <div
      class="invalid-feedback"
        *ngIf="buyUnitForm.controls?.['unitId']?.errors&& (buyUnitForm.controls?.['unitId']?.touched ||isSubmit) "
      >
        <div *ngIf="buyUnitForm.controls?.['projectId']?.errors?.['required']">
          <h3>unitId is required</h3>
        </div>
      </div>
    </div>

    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label" name="username"
        >Owner Email</label
      >
      <input
        type="text"
        class="form-control"
        name="ownerEmail"
        formControlName="ownerEmail"
        [class.is-valid]="buyUnitForm.controls?.['ownerEmail']?.valid"
        [class.is-invalid]="(buyUnitForm.controls?.['ownerEmail']?.invalid&&(buyUnitForm.controls?.['ownerEmail']?.touched||isSubmit))"
        email
      />
      <div
      class="invalid-feedback"
        *ngIf="buyUnitForm.controls?.['ownerEmail']?.errors&& (buyUnitForm.controls?.['ownerEmail']?.touched ||isSubmit) "
      >
        <div *ngIf="buyUnitForm.controls?.['ownerEmail']?.errors?.['required']">
          ownerEmail is required
        </div>
        <div  *ngIf="buyUnitForm.controls?.['ownerEmail']?.errors?.['email']">
          email must be valid
        </div>
      </div>
    </div>
    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label" name="username"
        >paymentMethod</label
      >
      <input
        type="text"
        class="form-control"
        name="paymentMethod"
        formControlName="paymentMethod"
        [class.is-valid]="buyUnitForm.controls?.['paymentMethod']?.valid"
        [class.is-invalid]="(buyUnitForm.controls?.['paymentMethod']?.invalid&&(buyUnitForm.controls?.['paymentMethod']?.touched||isSubmit))"
      />
      <div
      class="invalid-feedback"
        *ngIf="buyUnitForm.controls?.['paymentMethod']?.errors&& (buyUnitForm.controls?.['paymentMethod']?.touched ||isSubmit) "
      >
        <div
          *ngIf="buyUnitForm.controls?.['paymentMethod']?.errors?.['required']"
        >
          paymentMethod is required
        </div>
      </div>
    </div>
    <div class="col-12">
        <label for="exampleInputEmail1" class="form-label" name="username"
          >Number Of Years</label
        >
        <input
          type="number"
          class="form-control"
          name="numberOfYears"
          formControlName="numberOfYears"
          [class.is-valid]="buyUnitForm.controls?.['numberOfYears']?.valid"
          [class.is-invalid]="(buyUnitForm.controls?.['numberOfYears']?.invalid&&(buyUnitForm.controls?.['numberOfYears']?.touched||isSubmit))"
        />
        <div
        class="invalid-feedback"
          *ngIf="buyUnitForm.controls?.['numberOfYears']?.errors&& (buyUnitForm.controls?.['numberOfYears']?.touched ||isSubmit) "
        >
          <div
            *ngIf="buyUnitForm.controls?.['numberOfYears']?.errors?.['required']"
          >
            numberOfYears is required
          </div>
        </div>
      </div>
    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label" name="username"
        >Amount Paid</label
      >
      <input
        type="number"
        class="form-control"
        name="amountPaid"
        formControlName="amountPaid"
        [class.is-valid]="buyUnitForm.controls?.['amountPaid']?.valid"
        [class.is-invalid]="(buyUnitForm.controls?.['amountPaid']?.invalid&&(buyUnitForm.controls?.['amountPaid']?.touched||isSubmit))"
      />
      <div
      class="invalid-feedback"
        *ngIf="buyUnitForm.controls?.['amountPaid']?.errors&& (buyUnitForm.controls?.['amountPaid']?.touched ||isSubmit) "
      >
        <div *ngIf="buyUnitForm.controls?.['amountPaid']?.errors?.['required']">
          <h3>amountPaid is required</h3>
        </div>
      </div>
    </div>

    <div class="col-12">
      <button
        type="submit"
        class="btn btn-primary"
        [class.btn-type-primary]="!loading"
        [class.d-flex]="loading"
        [class.text-bg-dark]="loading"
      >
        <ng-container *ngIf="loading">
          <div class="col-12">
            <app-loading-spinner></app-loading-spinner>
          </div>
        </ng-container>
        <ng-container *ngIf="!loading">add</ng-container>
      </button>
    </div>
  </form>
</section>
