<section>
  <div class="row">
    <app-sidebar
      class="sidebar col-12 col-md-4 col-lg-3"
      [sidebarLinks]="sidebarLinks"
    ></app-sidebar>
    <div class="col content g-3">
      <div class="col-12 text-center">
        <div class="profile-image">
          <ng-container *ngIf="userProfileImage">
            <img
              src="http://localhost:8000/api/v1/public/uploads/users/{{
                userProfileImage
              }}"
              class="w-25 h-25 rounded-circle"
            />
          </ng-container>
        </div>
      </div>
      <h5 class="">change password</h5>
      <hr />

      <form #f="ngForm" class="row gy-3" (ngSubmit)="submitHandler(f)">
        <div class="col-12">
          <label for="exampleInputEmail1" class="form-label" name="password"
            >Password</label
          >
          <input
            #password="ngModel"
            type="password"
            class="form-control"
            name="password"
            required
            [(ngModel)]="model.password"
          />
          <div
            class="alert alert-danger"
            *ngIf="password.invalid && f.submitted"
          >
            <div *ngIf="password.errors?.['required']">
              <h3>password is required</h3>
            </div>
          </div>
        </div>
        <div class="col-12">
          <label for="exampleInputEmail1" class="form-label" name="newPassword"
            >New Password</label
          >
          <input
            #newPassword="ngModel"
            type="password"
            class="form-control"
            name="newPassword"
            required
            [(ngModel)]="model.newPassword"
          />
          <div
            class="alert alert-danger"
            *ngIf="newPassword.invalid && f.submitted"
          >
            <div *ngIf="newPassword.errors?.['required']">
              <h3>newPassword is required</h3>
            </div>
          </div>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-type-primary">
            update
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<ng-container *ngIf="changed">
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="liveToast" class="toast text-bg-secondary border-0" role="alert" aria-live="assertive" aria-atomic="true" [class.show]="changed">
          <div class="toast-header">
            <strong class="me-auto">notifications</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            password changed.
          </div>
        </div>
      </div>
</ng-container>
