<ng-container *ngIf="loading">
  <div class="col-12">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-container>
<ng-container *ngIf="!loading">
  <section>
    <a class="btn btn-primary" routerLink="users/add">add New User</a>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" *ngFor="let head of heads">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th>{{ user._id }}</th>
            <td scope="col" class="col-1">
              <img
                class="img-fluid rounded"
                src="http://localhost:8000/api/v1/public/uploads/users/{{
                  user.profileImage
                }}"
              />
            </td>
            <td class="flex-grow-1">{{ user.email }}</td>
            <td>{{ user.role.name }}</td>

            <td>{{ user.fName }}</td>
            <td>{{ user.lName }}</td>

            <td>{{ user.age ? user.age : "16" }}</td>

            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <a
                  class="btn btn-primary btn-info text-light"
                  routerLink="/users/{{ user._id }}"
                  >show</a
                >
                <a
                  routerLink="users/{{ user._id }}/edit"
                  class="btn btn-primary btn-secondary"
                  >edit</a
                >
                <a
                  class="btn btn-primary btn-danger"
                  (click)="deleteUserHandler(user._id)"
                  >delete</a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</ng-container>
