<section>
  <form #f="ngForm" class="row gy-3" (ngSubmit)="submitHandler(f)">
    <div class=" col-12 col-lg-6">
      <label for="exampleInputEmail1" class="form-label" name="username"
        >Email address</label
      >
      <input
        #email="ngModel"
        type="email"
        class="form-control"
        name="email"
        required
        [(ngModel)]="model.email"
        required
        email
      />
      <div class="alert alert-danger" *ngIf="email.invalid&&(email.dirty||f.submitted)">
        <div *ngIf="email.errors?.['required']">
          <h3>email is required</h3>
        </div>
        <div *ngIf="email.errors?.['email']">
            <h3>email must be valid</h3>
          </div>
      </div>
    </div>
    <div class=" col-12 col-lg-6">
      <label for="exampleInputEmail1" class="form-label">password</label>
      <input
        #password="ngModel"
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="model.password"
        required
      />
      <div class="alert alert-danger" *ngIf="password.invalid&&(password.dirty||f.submitted)">
        <div class="alert alert-danger" *ngIf="f.submitted">
          <div *ngIf="password.errors?.['required']">
            <h3>password is required</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-type-primary">
        login
      </button>
    </div>
  </form>
</section>
