<section class="hero-section">
    <div class="row justify-content-between">
    
        <div class="col-12 col-md-5 my-4 order-md-1">
            <div class="box-img">
                <img class="img-fluid w-100 " src="https://themeadapt.com/tf/reland-html/assets/img/banner/h2_banner_img.jpg"/>
            </div>
       
        </div>
        <div class="col-12 col-md-6  d-flex justify-content-center align-items-center order-md-0">
            <div class="hero-section__contant">
                <h1 class="title">RESPONSIBLE LEADERSHIP FROM HOW WE BUILD TO HOW WE WORK</h1>
                <p>Dictum varius duis at consectetur lorem donec massa sapien faucibus. Tincidunt arcu non sodales neque sodales ut etiam sit amet</p>
            </div>
       
        </div>
    </div>
</section>
