<section>
    <div class="row">
        <div class="col content g-3">
            <div class="col-12 text-center">
            </div>
            <h5 class=""> add user</h5>
            <hr/>
            <form [formGroup]="addUserForm"  class="row gy-3" (ngSubmit)="submitHandler(addUserForm)">
                <div class="col-12">
                  <label for="exampleInputEmail1" class="form-label" name="email"
                    >email</label
                  >
                  <input
                   
                    type="email"
                    class="form-control"
                    name="email"
                    email
                    formControlName="email"            
                  />
                  <div class="alert alert-danger" *ngIf="addUserForm.controls?.['email']?.errors&& (addUserForm.controls?.['email']?.touched ||isSubmit) ">
                    <div *ngIf="addUserForm.controls?.['email']?.errors?.['required']">
                      <h3>email is required</h3>
                    </div>
                    <div *ngIf="addUserForm.controls?.['email']?.errors?.['email']">
                        <h3>email must be valid</h3>
                      </div>
                  </div>
                 </div> 
                <div class=" col-12 ">
                    <label for="exampleInputEmail1" class="form-label" name="username"
                      >password</label
                    >
                    <input
                     
                      type="password"
                      class="form-control"
                      formControlName="password"
                     
                     
                    />
                    <div class="alert alert-danger" *ngIf="addUserForm.controls?.['password']?.errors&& (addUserForm.controls?.['password']?.touched ||isSubmit) ">
                      <div *ngIf="addUserForm.controls?.['password']?.errors?.['required']">
                        <h3>password is required</h3>
                      </div>
                   
                    </div>
                </div>
                <div class=" col-12 ">
                  <label for="exampleInputEmail1" class="form-label" name="username"
                    >First Name</label
                  >
                  <input
                  
                    type="text"
                    class="form-control"
                    name="fName"
                    formControlName="fName"
                    
              
                  />
                  <div class="alert alert-danger" *ngIf="addUserForm.controls?.['fName']?.errors&& (addUserForm.controls?.['fName']?.touched ||isSubmit) ">
                    <div *ngIf="addUserForm.controls?.['fName']?.errors?.['required']">
                      <h3>first name is required</h3>
                    </div>
                  </div>
                </div>
                <div class=" col-12 ">
                  <label for="exampleInputEmail1" class="form-label" name="username"
                    >Last Name</label
                  >
                  <input
                   
                    type="text"
                    class="form-control"
                    name="lName"
                    formControlName="lName"
                
                  
                  />
                  <div class="alert alert-danger" *ngIf="addUserForm.controls?.['lName']?.errors&& (addUserForm.controls?.['lName']?.touched ||isSubmit) ">
                    <div *ngIf="addUserForm.controls?.['lName']?.errors?.['required']">
                      <h3>last name is required</h3>
                    </div>
                  </div>
                </div>
                <div class=" col-12 ">
                  <label for="exampleInputEmail1" class="form-label" name="username"
                    >Age</label
                  >
                  <input
                   
                    type="number"
                    class="form-control"
                    name="age"
                    formControlName="age"
                   
                  />
                  <div class="alert alert-danger" *ngIf="addUserForm.controls?.['age']?.errors&& (addUserForm.controls?.['age']?.touched ||isSubmit) ">
                    <div *ngIf="addUserForm.controls?.['age']?.errors?.['required']">
                      <h3>age  is required</h3>
                    </div>
                 
                </div>
                </div>
               
                <ng-container *ngIf="admin">
                    <div class="col-12">
                      <label for="exampleInputEmail1" class="form-label" name="username">select role type</label>
                      <select #type class="form-select" aria-label="Default select example" (change)="selectTypeHandler(type.value)" formControlName="roleType" name="type">
                        <option selected value="0">Open this select menu</option>
                        <option value="admin">admin</option>
                        <option value="employee">employee</option>
                        <option value="customer">customer</option>
                      </select>
                    </div>
                    <div class="col-12">
                      <label for="exampleInputEmail1" class="form-label" name="username">select role name</label>
                      <select class="form-select" aria-label="Default select example" formControlName="roleName" name="name">
                        <label>select role name</label>
                        <option selected>Open this select menu</option>
                        <option *ngFor="let name of roleNames">{{name}}</option>
                      </select>
                    </div>
                </ng-container>
              
            
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-type-primary">
                    createUser
                  </button>
                </div>
              </form>
              
              
        </div>
    </div>
</section>

