<section>
    <div class="row">
        <div class="col content g-3">
            <div class="col-12 text-center">
            </div>
            <h5 class=""> add user</h5>
            <hr/>
            <form #f="ngForm" class="row gy-3" (ngSubmit)="submitHandler(f)">
                <div class="col-12">
                  <label for="exampleInputEmail1" class="form-label" name="email"
                    >email</label
                  >
                  <input
                    #email="ngModel"
                    type="email"
                    class="form-control"
                    name="email"
                    email
                    [(ngModel)]="model.email"              
                  />
                  <div class="alert alert-danger" *ngIf="email.invalid&&f.submitted">
                      <div *ngIf="email.errors?.['required']">
                        <h3>email is required</h3>
                      </div>
                    </div>
                </div>
                <div class=" col-12 ">
                    <label for="exampleInputEmail1" class="form-label" name="username"
                      >password</label
                    >
                    <input
                      #password="ngModel"
                      type="password"
                      class="form-control"
                      name="password"
                      [(ngModel)]="model.password"
                     
                    />
                    <div class="alert alert-danger" *ngIf="age.invalid&&f.submitted">
                      <div *ngIf="age.errors?.['required']">
                        <h3>age is required</h3>
                      </div>
                    </div>
                </div>
                <div class=" col-12 ">
                  <label for="exampleInputEmail1" class="form-label" name="username"
                    >First Name</label
                  >
                  <input
                    #fName="ngModel"
                    type="text"
                    class="form-control"
                    name="fName"
                    [(ngModel)]="model.fName"
              
                  />
                  <div class="alert alert-danger" *ngIf="fName.invalid&&f.submitted">
                    <div *ngIf="fName.errors?.['required']">
                      <h3>fName is required</h3>
                    </div>
                  </div>
                </div>
                <div class=" col-12 ">
                  <label for="exampleInputEmail1" class="form-label" name="username"
                    >Last Name</label
                  >
                  <input
                    #lName="ngModel"
                    type="text"
                    class="form-control"
                    name="lName"
                    [(ngModel)]="model.lName"
                
                  
                  />
                  <div class="alert alert-danger" *ngIf="lName.invalid&&f.submitted">
                    <div *ngIf="lName.errors?.['required']">
                      <h3>lName is required</h3>
                    </div>
                  </div>
                </div>
                <div class=" col-12 ">
                  <label for="exampleInputEmail1" class="form-label" name="username"
                    >Age</label
                  >
                  <input
                    #age="ngModel"
                    type="number"
                    class="form-control"
                    name="age"
                    [(ngModel)]="model.age"
                   
                  />
                  <div class="alert alert-danger" *ngIf="age.invalid&&f.submitted">
                    <div *ngIf="age.errors?.['required']">
                      <h3>age is required</h3>
                    </div>
                  </div>
                </div>

               
                <ng-container *ngIf="admin">
                    <div class="col-12">
                      <label for="exampleInputEmail1" class="form-label" name="username">select role type</label>
                      <select #type class="form-select" aria-label="Default select example" (change)="selectTypeHandler(type.value)">
                        <option selected value="0">Open this select menu</option>
                        <option value="admin">admin</option>
                        <option value="employee">employee</option>
                        <option value="customer">customer</option>
                      </select>
                    </div>
                    <div class="col-12">
                      <label for="exampleInputEmail1" class="form-label" name="username">select role name</label>
                      <select class="form-select" aria-label="Default select example">
                        <label>select role name</label>
                        <option selected>Open this select menu</option>
                        <option *ngFor="let name of roleNames">{{name}}</option>
                      </select>
                    </div>
                </ng-container>
              
            
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-type-primary">
                    createUser
                  </button>
                </div>
              </form>
              
              
        </div>
    </div>
</section>

