
  <ng-container *ngIf="loading">
    <div class="col-12">
        <app-loading-spinner></app-loading-spinner>
    </div>
</ng-container>
<ng-container *ngIf="!loading">
  <section>
    <a class="btn btn-primary" routerLink="addUrl">add New url</a>
    <div class="table-responsive">
      <table class="table ">
        <thead>
          <tr>
            <th scope="col" *ngFor="let head of heads">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let url of urls">
            <th>{{ url._id }}</th>
            <td>{{ url.url }}</td>    
            <td >
              <ng-container *ngIf="url.params">
                <div *ngFor="let param of url.params | keyvalue">
                  <div class="d-flex gap-2 justify-content-between align-items-start mb-2">
                    <p class="mb-0">{{param.key}}</p>
                    <a
                    class="btn btn-danger"
                    (click)="deleteParamHandler(url._id,param.key)"
                    >delete</a
                  >
                  </div>
                </div>
            </ng-container>
              
            </td>  
            <td>
                <ng-container *ngIf="url.querys">
                    <div *ngFor="let query of url.querys | keyvalue">
                      <div class="d-flex gap-2 justify-content-between align-items-start mb-2">
                        <p class="mb-0">{{query.key}}</p>
                        <a
                        class="btn btn-danger"
                        (click)="deleteQueryHandler(url._id,query.key)"
                        >delete</a
                      >
                      </div>
                  
                      </div>
                </ng-container>
            </td>   
            
            <td  class="" scope="row">
              <ng-container *ngIf="url.methods">
                <ng-container    *ngFor="let method of url.methods | keyvalue">
                  <div class="d-flex gap-2 justify-content-between align-items-start mb-2">
                    <p class="mb-0">{{method.key}}</p>
                    <a
                    class="btn btn-danger"
                    (click)="deleteMethodHandler(url._id,method.key)"
                    >delete</a
                  >
                  </div>
                   
                   
                  
                </ng-container>
            </ng-container>

               
                
                </td>

            <td >
              <div class="btn-group" role="group" aria-label="Basic example">
                <a
                  routerLink="role/{{ url._id }}/edit"
                  class="btn btn-primary btn-secondary"
                  >edit</a
                >
                <a
                  class="btn btn-primary btn-danger"
                  (click)="deleteRoleHandler(url._id)"
                  >delete</a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</ng-container>



