<section>
    <div class="row">
        <app-sidebar class="sidebar col-12 col-md-4  col-lg-3 " [sidebarLinks]=sidebarLinks></app-sidebar>
        <div class="col content g-3">
            <div class="col-12 text-center">
                <div class="profile-image">
                  <ng-container *ngIf="currentUserProfileImage">
                    <img
                    src="http://localhost:8000/api/v1/public/uploads/users/{{
                      currentUserProfileImage
                    }}"
                    class="w-25 h-25 rounded-circle"
                  />
                  </ng-container>

                </div>
            </div>
            <h5 class="">Edit profile</h5>
            <hr/>
      
                <form  [formGroup]="editMeForm"  class="row gy-3" (ngSubmit)="submitHandler(editMeForm)">
                  <div class=" col-12 ">
                    <label for="exampleInputEmail1" class="form-label" name="username"
                      >First Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="fName"
                      formControlName="fName"
                      [class.is-valid]="editMeForm.controls?.['fName']?.valid" 
                      [class.is-invalid]="(editMeForm.controls?.['fName']?.invalid&&(editMeForm.controls?.['fName']?.touched||isSubmit))"     
                    />
                    <div class="invalid-feedback" *ngIf="editMeForm.controls?.['fName']?.errors&& (editMeForm.controls?.['fName']?.touched ||isSubmit) ">
                      <div *ngIf="editMeForm.controls?.['fName']?.errors?.['required']">
                        fName is required
                      </div>
                    </div>
                  </div>
                  <div class=" col-12 ">
                    <label for="exampleInputEmail1" class="form-label" name="username"
                      >Last Name</label
                    >
                    <input

                      type="text"
                      class="form-control"
                      name="lName"
                      required
                      formControlName="lName"
                      [class.is-valid]="editMeForm.controls?.['lName']?.valid" 
                      [class.is-invalid]="(editMeForm.controls?.['lName']?.invalid&&(editMeForm.controls?.['lName']?.touched||isSubmit))"  
                    
                    />
                    <div  class="invalid-feedback" *ngIf="editMeForm.controls?.['lName']?.errors&& (editMeForm.controls?.['lName']?.touched ||isSubmit) ">
                      <div *ngIf="editMeForm.controls?.['lName']?.errors?.['required']">
                        <h3>lName is required</h3>
                      </div>
                    </div>
                  </div>
                  <div class=" col-12 ">
                    <label for="exampleInputEmail1" class="form-label" name="username"
                      >Age</label
                    >
                    <input
                      
                      type="number"
                      class="form-control"
                      name="age"
                      formControlName="age"
                      [class.is-valid]="editMeForm.controls?.['age']?.valid" 
                      [class.is-invalid]="(editMeForm.controls?.['age']?.invalid&&(editMeForm.controls?.['age']?.touched||isSubmit))"  
                     
                    />
                    <div class="invalid-feedback" *ngIf="editMeForm.controls?.['age']?.errors&& (editMeForm.controls?.['age']?.touched ||isSubmit) ">
                      <div *ngIf="editMeForm.controls?.['age']?.errors?.['required']">
                        age is required
                      </div>
                    </div>
                  </div>
              
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-type-primary">
                      update
                    </button>
                  </div>
                </form>
              
              
        </div>
    </div>
</section>
