<section>
  <div class="row">
    <div class="col content g-3">
      <div class="col-12 text-center">
        <h5 class="">Edit user</h5>
      </div>

      <hr />

      <form
        [formGroup]="editUserForm"
        class="row gy-3"
        (ngSubmit)="submitHandler(editUserForm)"
      >
        <div class="col-12">
          <label for="exampleInputEmail1" class="form-label" name="email"
            >email</label
          >
          <input
            type="email"
            class="form-control"
            name="email"
            email
            formControlName="email"
            [class.is-valid]="editUserForm.controls?.['email']?.valid"
            [class.is-invalid]="(editUserForm.controls?.['email']?.invalid&&(editUserForm.controls?.['email']?.touched||isSubmit))"
          />

          <div
            class="invalid-feedback"
            *ngIf="editUserForm.controls?.['email']?.errors&& (editUserForm.controls?.['email']?.touched ||isSubmit) "
          >
            <div *ngIf="editUserForm.controls?.['email']?.errors?.['required']">
              email is required
            </div>
            <div *ngIf="editUserForm.controls?.['email']?.errors?.['email']">
              email must be valid
            </div>
          </div>
        </div>

        <div class="col-12">
          <label for="exampleInputEmail1" class="form-label" name="username"
            >First Name</label
          >
          <input
            type="text"
            class="form-control"
            name="fName"
            formControlName="fName"
            [class.is-valid]="editUserForm.controls?.['fName']?.valid"
            [class.is-invalid]="(editUserForm.controls?.['fName']?.invalid&&(editUserForm.controls?.['fName']?.touched||isSubmit))"
          />
          <div
            class="invalid-feedback"
            *ngIf="editUserForm.controls?.['fName']?.errors&& (editUserForm.controls?.['fName']?.touched ||isSubmit) "
          >
            <div *ngIf="editUserForm.controls?.['fName']?.errors?.['required']">
              first name is required
            </div>
            <div
              *ngIf="editUserForm.controls?.['fName']?.errors?.['minlength']"
            >
              first name min length 5
            </div>
          </div>
        </div>
        <div class="col-12">
          <label for="exampleInputEmail1" class="form-label" name="username"
            >Last Name</label
          >
          <input
            type="text"
            class="form-control"
            name="lName"
            formControlName="lName"
            [class.is-valid]="editUserForm.controls?.['lName']?.valid"
            [class.is-invalid]="(editUserForm.controls?.['lName']?.invalid&&(editUserForm.controls?.['lName']?.touched||isSubmit))"
          />
          <div
            class="invalid-feedback"
            *ngIf="editUserForm.controls?.['lName']?.errors&& (editUserForm.controls?.['lName']?.touched||isSubmit ) "
          >
            <div *ngIf="editUserForm.controls?.['lName']?.errors?.['required']">
              last name is required
            </div>
            <div
              *ngIf="editUserForm.controls?.['lName']?.errors?.['minlength']"
            >
              last name min length 5
            </div>
          </div>
        </div>
        <div class="col-12">
          <label for="exampleInputEmail1" class="form-label" name="username"
            >Age</label
          >
          <input
            type="number"
            class="form-control"
            name="age"
            formControlName="age"
            placeholder="16"
            [class.is-valid]="editUserForm.controls?.['age']?.valid"
            [class.is-invalid]="(editUserForm.controls?.['age']?.invalid&&(editUserForm.controls?.['age']?.touched||isSubmit))"
          />
          <div
            class="invalid-feedback"
            *ngIf="editUserForm.controls?.['age']?.errors&& (editUserForm.controls?.['age']?.touched ||isSubmit) "
          >
            <div *ngIf="editUserForm.controls?.['age']?.errors?.['required']">
              age is required
            </div>
            <div *ngIf="editUserForm.controls?.['age']?.errors?.['min']">
              last name min age 18
            </div>
          </div>
        </div>

        <div class="col-12">
          <button
            type="submit"
            class="btn btn-primary"
            [class.btn-type-primary]="!loading"
            [class.d-flex]="loading"
            [class.text-bg-dark]="loading"
          >
            <ng-container *ngIf="loading">
              <div class="col-12">
                <app-loading-spinner></app-loading-spinner>
              </div>
            </ng-container>
            <ng-container *ngIf="!loading">create user</ng-container>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
