<section>
    <div class="row">
        <div class="col content g-3">
            <div class="col-12 text-center">
                <!-- <div class="profile-image">
                  <ng-container *ngIf="currentUserInfo.profileImage">
                    <img
                    src="http://localhost:8000/api/v1/public/uploads/users/{{
                        currentUserInfo.profileImage
                    }}"
                    class="w-25 h-25 rounded-circle"
                  />
                  </ng-container>

                </div> -->
            </div>
            <h5 class="">Edit user</h5>
            <hr/>
      
                <form #f="ngForm" class="row gy-3" (ngSubmit)="submitHandler(f)">
                  <div class="col-12">
                    <label for="exampleInputEmail1" class="form-label" name="email"
                      >email</label
                    >
                    <input
                      #email="ngModel"
                      type="email"
                      class="form-control"
                      name="email"
                      email
                      [(ngModel)]="model.email"
                      placeholder="{{UserInfo.email}}"
                      [value]="UserInfo.email"
                
                    />
                    <div class="alert alert-danger" *ngIf="email.invalid&&f.submitted">
                        <div *ngIf="email.errors?.['required']">
                          <h3>email is required</h3>
                        </div>
                      </div>
                  </div>
                  <div class=" col-12 ">
                    <label for="exampleInputEmail1" class="form-label" name="username"
                      >First Name</label
                    >
                    <input
                      #fName="ngModel"
                      type="text"
                      class="form-control"
                      name="fName"
                      [(ngModel)]="model.fName"
                      placeholder="{{UserInfo.fName}}"
                      [value]="UserInfo.fName"
                
                    />
                    <div class="alert alert-danger" *ngIf="fName.invalid&&f.submitted">
                      <div *ngIf="fName.errors?.['required']">
                        <h3>fName is required</h3>
                      </div>
                    </div>
                  </div>
                  <div class=" col-12 ">
                    <label for="exampleInputEmail1" class="form-label" name="username"
                      >Last Name</label
                    >
                    <input
                      #lName="ngModel"
                      type="text"
                      class="form-control"
                      name="lName"
                      [(ngModel)]="model.lName"
                      placeholder="{{UserInfo.lName}}"
                      [value]="UserInfo.lName"
                    
                    />
                    <div class="alert alert-danger" *ngIf="lName.invalid&&f.submitted">
                      <div *ngIf="lName.errors?.['required']">
                        <h3>lName is required</h3>
                      </div>
                    </div>
                  </div>
                  <div class=" col-12 ">
                    <label for="exampleInputEmail1" class="form-label" name="username"
                      >Age</label
                    >
                    <input
                      #age="ngModel"
                      type="text"
                      class="form-control"
                      name="age"
                      [(ngModel)]="model.age"
                      placeholder="{{UserInfo.age}}"
                      [value]="UserInfo.age"
                     
                    />
                    <div class="alert alert-danger" *ngIf="age.invalid&&f.submitted">
                      <div *ngIf="age.errors?.['required']">
                        <h3>age is required</h3>
                      </div>
                    </div>
                  </div>
            
              
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-type-primary">
                      update
                    </button>
                  </div>
                </form>
              
              
        </div>
    </div>
</section>
