<section class="our-mession">
    <div class="row justify-content-between">
    
    
        <div class="col-12 col-md-6 my-4 my-lg-0 ">
            <div class="box-img  overflow-hidden rounded-top">
                <img class="img img-fluid w-100  " src="https://themeadapt.com/tf/reland-html/assets/img/images/mission_img.jpg"/>
            </div>
        </div>
        <div class="col-12 col-md-6  d-flex justify-content-center align-items-start px-lg-4 py-lg-5">
            <div class="our-mission__contant">
                <span class="">OUR MISSION</span>
                <h3 class="title my-3">TO BE THE MOST TRUSTED NAME IN REAL ESTATE GLOBALLY</h3>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet sed quia non numquam</p>
            </div>
       
        </div>
    </div>
</section>
