
  <ng-container *ngIf="loading">
    <div class="col-12">
        <app-loading-spinner></app-loading-spinner>
    </div>
</ng-container>
<ng-container *ngIf="!loading">
  <section>
    <div class="table-responsive">
      <a class="btn btn-primary" routerLink="units/add">add New unit</a>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" *ngFor="let head of heads">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unit of units">
            <th>{{ unit._id }}</th>
            <td scope="col" class="col-1">
              <img
                class="img-fluid rounded "
                src="http://localhost:8000/api/v1/public/uploads/units/{{unit.unitImages[0]}}"
              />
            </td>
            <td>{{ unit.name }}</td>         
            <td>{{ unit.unitAddress }}</td>
            <td>{{ unit.price }}</td>
            <td>{{ unit.status?"sold":"buy" }}</td>
            <td><a class="" routerLink="/buildings/{{unit.buildingId}}">{{unit.buildingId | slice : 0  : 5 }}</a></td>
            <td><a class="" routerLink="/user/{{unit.createdBy}}">{{unit.createdBy | slice : 0  : 5 }}</a></td>
            <td><a class="" routerLink="/user/{{unit.ownerId}}">{{unit.ownerId | slice : 0  : 5 }}</a></td>
            <td><div class="btn-group" role="group" aria-label="Basic example">
              <ng-container *ngIf="!unit.status">
                <a class="btn btn-primary " routerLink="units/{{unit._id}}/buy">buy</a>
              </ng-container> 
              <a class="btn btn-primary btn-info text-light" routerLink="/units/{{unit._id}}">show</a>
              <ng-container *ngIf="!unit.status">
                <a routerLink="units/{{unit._id}}/edit" class="btn btn-primary btn-secondary">edit</a>
              </ng-container> 
              <a class="btn btn-primary btn-danger" (click)="deleteUnitHandler(unit._id)">delete</a>
            </div></td>
     
         
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</ng-container>



