/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #bd9a68;
  --secondary-color: #202020;
  --body-background-color: #fefffb;
  --secondary-background: #f9faf1;
  --body-font-color: #797978;
  --heading-font-color: #202020;
  --paragraph-color: #797978;
  --body-font-size: 15px;
  --body-font-weight: 400;
  --body-line-height: 1.86;
  --heading-font-weight: 400;
  --heading-line-height: 1.2;
}
body,* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-color: var(--body-background-color);
    color: var(--body-font-color);
    font-weight:var( --body-font-weight) ;
    line-height:var( --body-line-height);
    overflow-x: hidden;
}
a{
  text-decoration: none !important;
}

section{
  padding:2rem 0;
}

p{
  color:var( --paragraph-color);
  font-size: var(--body-font-size);
  font-weight:var(--body-font-weight);
  line-height:var( --body-line-height);
}

.btn-type-primary,.btn-type-primary:hover,.btn-type-primary:focus,.btn-type-primary:active,.btn-type-primary:focus-visible{
  background-color: var(--primary-color) !important;
  outline:  var(--primary-color) !important;
  border: none !important;
}
.nav-link{
  color: var(--body-font-color) !important;
}
label{
  color: var(--body-font-color) !important;
}